$white: white;
$light-gray: #eeeeee;
$gray: #999999;
$black: #333333;
$yellow: #ffe600;
$blue: #3483fa;

$border-radius: 4px;
$small-space: 16px;
$product-result-width: 180px;
$product-result-height: 180px;
